.newMessageWrapper {
  /* background-color: cornflowerblue; */
  background-color: white;
  border-top: 1px solid rgb(204,204,204);
  min-height: 20%;
  padding: 30px 10px;
}

.messageInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 5px;
  display: block;
  resize: none;
  outline: none;
  font-size: 16px;
}

.messageInput:focus {
  border: 2px solid rgba(0,0,0,.4);
}

.sendButton {
  display: block;
  margin: 0 auto;
  margin-right: 0;
  padding: 10px 20px;
  border: none;
  background: rgb(204,204,204);
}

.sendButton:hover {
  background: rgb(104,104,104);
  color: white;
}