.contact {
  margin-bottom: 3px;
  padding-right: 1%;
}

.link { 
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: rgb(204,204,204);
  padding: 2% 5%;
  /* background-color: #F2f2f2; */
  color: #231f23;
  font-weight: 500;
}

.link:hover {
  background-color:#b2db60;
}

.activeDialog {
  color: gold;
  background-color:#9ACD32;
  font-weight: 700;
}

.avatarWrapper {
  width: 50px;
  height:50px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}

.name {
  display:inline-block;
  padding: 0px 3%;
}