
.appHeader {
  grid-area: header;
  height: 56px;
  background-color: #282c34;
  position: relative;
}

.m7LogoWrapper {
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1%;
}

.m7Logo {
  height: 100%;
  max-width: 100%;
}