
.fieldWrapper {
  position: relative;
}

.fieldWrapper label {
  position: absolute;
  top: 10px;
  left: 5%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  user-select: none;
}

.fieldWrapper input {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
  font-family: 'Poppins', sans-serif;
}

.fieldWrapper input:focus+label, 
.fieldWrapper input:not([value=""])+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

