.authenticationPage {
  min-height: 100vh;
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #fff7;
  border-radius: 10px;
  overflow: hidden;
}