
.appWrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav section"
    "footer section";
    grid-template-rows: 56px 1fr 100px;
    grid-template-columns: 15% 1fr;
}