/* Include padding and border in the element's total width and height */
* {
  box-sizing: border-box;
}

.appWrapper {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header header"
  "avatar section"
  "nav section"
  "footer section"
  ". section";
  grid-template-rows: 56px 170px auto 100px 1fr;
  grid-template-columns: minmax(300px,20%) 1fr;
  gap: 10px 20px;
  background-color: #f2f2f2;
}