.postWrapper {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 30px 50px;
  background: #fff;
}

.leftSide {
  min-width: 80px;
  max-width: 20%;
  vertical-align: top;
  display: inline-block;
}

.profileImageWrapper {
  width: 50px;
  height:50px;
  display: inline-block;
  background-color: grey;
  border-radius: 50%;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.rightSide {
  width: 80%;
  display: inline-block;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.data {
  font-size: 14px;
  font-style: italic;
  color: #585558;
}

.text {
  font-size: 16px;
}